.Tile {
   position: relative;
   &-front {
      width: 12vh;
      height: 12vh;
      display: block;
      transform: rotateY(90deg);
      position: absolute;

   }
   &-back {
      width: 12vh;
      height: 12vh;
      display: block;
   }
}

.reveal .Tile-front {
   transform: rotateY(0deg);
}