.tile {
   position: relative;
   &-front {
      width: 100%;
      border-radius: 0.5em;
      display: block;
      position: absolute;
      transform: rotateY(90deg);
      transition: ease-out 0.25s;

   }
   &-back {
      width: 100%;
      border: 1px solid white;
      border-radius: 0.5em;
      display: block;
      transition: ease-in 0.25s;
      transition-delay: 0.25s;
   }
}

.reveal {
   .tile-front {
      transform: rotateY(0deg);
      transition-delay: 0.25s;
   }
   .tile-back {
      transform: rotateY(90deg);
      transition-delay: 0s;
   }
}