.settings {
   border-radius: 1em;
   background-color: white;
   width: 75%;
   max-width: 700px;
   height: auto;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.7em;
   animation: fadein 2s;
   &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-tile {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &-time {
         display: flex;
         flex-direction: column;
         align-items: center;
         h3 {
            font-size: 1.5em;
         }
         &-choice {
            margin: 0.7em 0;

         }
      }
      &-submit {
         background: #4592EC;
         font-size: 1em;
         font-family: 'Poppins', sans-serif;
         border: 0;
         border-radius: 0.5em;
         margin: 0.3em 0;
         height: 2em;
         width: 50%;
         transition: all 300ms 200ms;
      }
      &-submit:hover {
         transform: scale(1.1);
         background: linear-gradient(0deg, #D37D76 0%, #4592EC 100%);
      }
   }
}

@keyframes fadein {
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}